body {
  background-color: #02111B;
}
h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size:60px;
  color: #FFC43D;
}
.board button {
  position: grid;
  width:100px;
  height:100px;
  margin-top: 0.20%;
  outline: none;
  opacity: 1;
}
.board {
  text-align: center;
}
.align {
  text-align: center;
}
button#reset {
  position: grid;
  background-color: #FFC43D;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 50px;
  width:100px;
  margin-top:3%;
  outline: none;
  height:50px;
  font-family: "Poppins", sans-serif;
  border: 0px;
  color: #02111B;
  font-size:25px;
}
button#reset:hover {
  position: grid;
  background-color: #FFB60A;
  box-shadow: 0px 0px 26px #E09D00;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 50px;
  cursor: pointer;
  width:100px;
  margin-top:3%;
  height:50px;
  font-family: "Poppins", sans-serif;
  border: 0px;
  color: #02111B;
  font-size:25px;
}
.board button#one {
  background-color: #F8FFE5;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.board button#one:hover {
  background-color: #F4FFD6;
  box-shadow: 0px 0px 26px #FFC43D;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor: pointer;
  border: 0px;
}
.sq1-player .board button#one {
  background-color: #377771;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq1-player .board button#one:hover {
  background-color: #2D625D;
  box-shadow: 0px 0px 26px #204642;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq2-player .board button#two {
  background-color: #377771;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq2-player .board button#two:hover {
  background-color: #2D625D;
  box-shadow: 0px 0px 26px #204642;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq3-player .board button#three {
  background-color: #377771;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq3-player .board button#three:hover {
  background-color: #2D625D;
  box-shadow: 0px 0px 26px #204642;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq4-player .board button#four {
  background-color: #377771;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq4-player .board button#four:hover {
  background-color: #2D625D;
  box-shadow: 0px 0px 26px #204642;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq5-player .board button#five {
  background-color: #377771;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq5-player .board button#five:hover {
  background-color: #2D625D;
  box-shadow: 0px 0px 26px #204642;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq6-player .board button#six {
  background-color: #377771;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq6-player .board button#six:hover {
  background-color: #2D625D;
  box-shadow: 0px 0px 26px #204642;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq7-player .board button#seven {
  background-color: #377771;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq7-player .board button#seven:hover {
  background-color: #2D625D;
  box-shadow: 0px 0px 26px #204642;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq8-player .board button#eight {
  background-color: #377771;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq8-player .board button#eight:hover {
  background-color: #2D625D;
  box-shadow: 0px 0px 26px #204642;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq9-player .board button#nine {
  background-color: #377771;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq9-player .board button#nine:hover {
  background-color: #2D625D;
  box-shadow: 0px 0px 26px #204642;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq1-cpu .board button#one {
  background-color: #ED6A5E;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq1-cpu .board button#one:hover {
  background-color: #E94435;
  box-shadow: 0px 0px 26px #931B10;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq2-cpu .board button#two {
  background-color: #ED6A5E;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq2-cpu .board button#two:hover {
  background-color: #E94435;
  box-shadow: 0px 0px 26px #931B10;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq3-cpu .board button#three {
  background-color: #ED6A5E;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq3-cpu .board button#three:hover {
  background-color: #E94435;
  box-shadow: 0px 0px 26px #931B10;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq4-cpu .board button#four {
  background-color: #ED6A5E;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq4-cpu .board button#four:hover {
  background-color: #E94435;
  box-shadow: 0px 0px 26px #931B10;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq5-cpu .board button#five {
  background-color: #ED6A5E;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq5-cpu .board button#five:hover {
  background-color: #E94435;
  box-shadow: 0px 0px 26px #931B10;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq6-cpu .board button#six {
  background-color: #ED6A5E;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq6-cpu .board button#six:hover {
  background-color: #E94435;
  box-shadow: 0px 0px 26px #931B10;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq7-cpu .board button#seven {
  background-color: #ED6A5E;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq7-cpu .board button#seven:hover {
  background-color: #E94435;
  box-shadow: 0px 0px 26px #931B10;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq8-cpu .board button#eight {
  background-color: #ED6A5E;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq8-cpu .board button#eight:hover {
  background-color: #E94435;
  box-shadow: 0px 0px 26px #931B10;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.sq9-cpu .board button#nine {
  background-color: #ED6A5E;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.sq9-cpu .board button#nine:hover {
  background-color: #E94435;
  box-shadow: 0px 0px 26px #931B10;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor:pointer;
  border: 0px;
}
.board button#two {
  background-color: #F8FFE5;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.board button#two:hover {
  background-color: #F4FFD6;
  box-shadow: 0px 0px 26px #FFC43D;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor: pointer;
  border: 0px;
}
.board button#three {
  background-color: #F8FFE5;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.board button#three:hover {
  background-color: #F4FFD6;
  box-shadow: 0px 0px 26px #FFC43D;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor: pointer;
  border: 0px;
}
.board button#four {
  background-color: #F8FFE5;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.board button#four:hover {
  background-color: #F4FFD6;
  box-shadow: 0px 0px 26px #FFC43D;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor: pointer;
  border: 0px;
}
.board button#five {
  background-color: #F8FFE5;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.board button#five:hover {
  background-color: #F4FFD6;
  box-shadow: 0px 0px 26px #FFC43D;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor: pointer;
  border: 0px;
}
.board button#six {
  background-color: #F8FFE5;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.board button#six:hover {
  background-color: #F4FFD6;
  box-shadow: 0px 0px 26px #FFC43D;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor: pointer;
  border: 0px;
}
.board button#seven {
  background-color: #F8FFE5;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.board button#seven:hover {
  background-color: #F4FFD6;
  box-shadow: 0px 0px 26px #FFC43D;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor: pointer;
  border: 0px;
}
.board button#eight {
  background-color: #F8FFE5;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.board button#eight:hover {
  background-color: #F4FFD6;
  box-shadow: 0px 0px 26px #FFC43D;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor: pointer;
  border: 0px;
}
.board button#nine {
  background-color: #F8FFE5;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  border: 0px;
}
.board button#nine:hover {
  background-color: #F4FFD6;
  box-shadow: 0px 0px 26px #FFC43D;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  border-radius: 20%;
  cursor: pointer;
  border: 0px;
}